@import "bootstrap/scss/functions";
@import "./variables";

@import "bootstrap/scss/bootstrap.scss";

.weather_bg {
  background-color: #0e192b;
  width: 100%;
  height: 100vh;
  color: white;
}
.dist_weather {
  margin-bottom: 16px;
  padding: 40px;
  border: 1px dotted white;
  border-radius: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2),
  &:nth-child(3) {
    background-color: #232933;
  }
}
.city_weather {
  height: 100%;
  padding: 40px;
  border: 1px dotted white;
  border-radius: 16px;
  background-color: #232933;
}
.main_temp {
  font-size: 60px;
  font-weight: bold;
}
.air_content {
  padding-left: 32px;
  font-size: 28px;
  font-weight: bold;
}
.title {
  color: #ffffff80;
  font-weight: 700;
}

.subTitle {
  color: #ffffff80;
}

.next7DayForecast {
  padding-bottom: 16px;

  &:last-child {
    padding-bottom: 0;
  }
}