@import "bootstrap/scss/functions";
@import "./variables";

@import "bootstrap/scss/bootstrap.scss";

.weather_bg {
  background-color: #1b263b;
  width: 100%;
  height: 100vh;
  color: white;
}
.dist_weather {
  margin-bottom: 16px;
  padding: 40px;
  border: 1px dotted white;
  border-radius: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2),
  &:nth-child(3) {
    background-color: rgba(#e0e1dd, 0.3);
  }
}
.city_weather {
  height: 100%;
  padding: 40px;
  border: 1px dotted white;
  border-radius: 16px;
  background-color: rgba(#e0e1dd, 0.3);
}
.main_temp {
  font-size: 60px;
  font-weight: bold;
}